/*Custom toolbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(26, 32, 37);
  border-radius: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(54, 68, 80);
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: aliceblue;
  padding: 10px;
}

h3 {
  display: flex;
  margin: 0px;
  border: 0px;
  color: aliceblue;
}

ul {
  color: aliceblue;
}

p {
  color: aliceblue;
  line-height: 1.2em;
  text-align: center;
  max-width: 500px;
  border: 1px aliceblue dashed;
  border-radius: 1%;
  padding: 10px;
  margin-bottom: 35px;
  flex-direction: row;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

.title {
  margin-left: 30px;
}

.proj2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0;
}

.nickname {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  margin-left: 10px;
}

.nickname:hover{
  text-decoration: line-through;
  filter: invert(100%);
}

.minilogo {
  margin-right: 30px;
  width: 50px;
}

.minilogo:hover {
  filter: invert(100%);
}

.avatar {
  border-radius: 50%;
  border: 1px dashed aliceblue;
  width: 200px;
}

.avatar2 {
  margin-top: 20px;
  border-radius: 50%;
  border: 1px dashed aliceblue;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.skills-sub {
  display: flex;
  flex-direction: column;
  margin: 0px 60px;
}

.sub_item {
  margin-bottom: 5px;
}
.space_between {
  padding: 50px;
}

.projetos {
  display: flex;
  justify-content: space-between;
}

.spacin {
  width: 60px;
}

.hover-proj {
  display: block;
}

.projects-hover {
  display: none;
}

.switch:hover .hover-proj {
  display: none;
}

.switch:hover .projects-hover {
  display: flex;
}

.switch {
  margin-bottom: 20px;
}
